body
{
	font-size: 1.5em;
}

#gradebox
{
	display: none;
}

#gradediv
{
	border: 6px outset maroon;
	background-color: maroon;
	color: lightyellow;
	width: fit-content;

	&:hover,& > label:hover
	{
		cursor: pointer;
	}

	&:has( > #gradebox:checked)
	{
		border-style: inset;
	}
}

.ctrl:has( > #gradediv > #gradebox:checked) + #mult .correctQ:has( > input:checked)
{
	background-color: lightgreen;
}

.ctrl:has( > #gradediv > #gradebox:checked) + #mult .incorrectQ:has( > input:checked)
{
	background-color: maroon;
}
